<main class="container-fluid d-flex flex-column">
  <header class="">
    <nav id="navbar" class="navbar navbar-light ">
      <div class="container-fluid">
        <span id="navbar-title" class="navbar-brand mb-0 h1">Bookshelf  <i id="shelf" class="bi bi-bookshelf"></i></span>
      </div>
    </nav>
    
  </header>
  
  <router-outlet></router-outlet>
 
  <footer id="footer" class="d-flex  flex-wrap justify-content-between align-items-center py-2 mt-auto">
    <p class="col-md-2 ms-auto mb-0 ">&copy; 2021 AdaoBMF</p>
  </footer>
</main>